:root{

    /* Primary Colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral Colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    /* Hover Color */
    --hover-color: hsl(245,83%,68%);

    /* Typo */
    --body-font: 'Red Hat Display', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: var(--body-font);
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  url(./images/pattern-background-mobile.svg) var(--pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
}
@media (min-width: 768px) {
    body {
        background: url(./images/pattern-background-desktop.svg), var(--pale-blue);
        background-repeat: no-repeat;
        background-size: 100% 50%;
    }
}

.container {
    width: 32.7rem;
    background-color: #FFF;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
}
@media (min-width: 768px) {
    .container {
        width: 45rem;
    }
}

.image-order {
    height: 16rem;
    background: url(./images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
@media (min-width: 768px) {
    .image-order {
        height: 22rem;
        background-size: contain;
    }
}

.content-order {
    padding: 3.2rem 2.4rem;
    text-align: center;
}
@media (min-width: 768px) {
    .content-order {
        padding: 4.5rem 4.8rem 4.8rem 4.8rem;
    }
}

.order-title {
    color: var(--dark-blue);
    font-size: 2.2rem;
    font-weight: 900;
    margin: 0;
}
@media (min-width: 768px) {
    .order-title {
        font-size: 2.8rem;
    }
}

.order-description {
    color: var(--desaturated-blue);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    width: 26.3rem;
}
@media (min-width: 768px) {
    .order-description {
        font-size: 1.6rem;
        line-height: 2.6rem;
        width: 35.4rem;
    }
}

.order-plan {
    background-color: var(--very-pale-blue);
    border-radius: 1.1rem;
    display: grid;
    grid-template-columns:  .8fr 2fr 1fr;
    align-items: center;
    padding: 1.7rem 1.6rem 1.6rem 1.6rem;
}
@media (min-width: 768px) {
    .order-plan {
        padding: 2.5rem 2.4rem;
    }
}

.info-plan {

}
.plan-title,
.plan-price {
    margin: 0;
    text-align: left;
}

.plan-title {
    color: var(--dark-blue);
    font-size: 1.4rem;
    font-weight: 900;
}

.plan-price {
    color: var(--desaturated-blue);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: .3rem;
}
@media (min-width: 768px) {
    .plan-title,
    .plan-price {
        font-size: 1.6rem;
    }
    .plan-price {
        margin-top: .6rem;
    }
}

.plan-link {
    color: var(--bright-blue);
    font-size: 1.4rem;
    font-weight: 700;
}
.plan-link:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;
    gap: 2.4rem;
}
@media (min-width: 768px) {
    .buttons {
        margin-top: 3.2rem;
    }
}

.payment-button {
    border: none;
    border-radius: 1.1rem;
    padding: 1.5rem auto;
    height: 5rem;
    background-color: var(--bright-blue);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 900;
    box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
}
.payment-button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.cancel-button {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--desaturated-blue);
    display: contents;
}
.cancel-button:hover {
    color: var(--dark-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
